#element {
  width: 50px;
  height: 75px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  font-family: sans-serif;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

#element h2 {
  margin-top: 10px;
}

#element:hover {
  transform: scale(1.1);
}